.checkout__add{
    width: 100%;
    height: 200px;

}

.checkout__left{
    display: flex;
    flex-direction: column;
}

.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__title{
    margin-right: 500px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__list{
    border-bottom: 1px solid lightgray;
}

