.orders__products{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
    
}





.order__image{
    max-height:200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    
    
}

.order__details{
    display: flex;
    flex-direction: column;
}

.order__product{
    display: flex;
    height:fit-content;
    width: fit-content;
}

.order__button{
    background-color: #f0c14b;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
}